<img src="https://assets-global.website-files.com/620d42e86cb8ecb3f739e579/620d44bba9bc9541593ef7bc_website%20header.png" alt="HeavyAI" width="250"/>

<big><big><h1>+</h1></big></big>

![SQLAlchemy](https://www.sqlalchemy.org/img/sqla_logo.png)

# Getting started with SQLAlchemy HeavyAI


**HeavyDB** is the world's fastest open source **SQL** engine,
equally powerful at the heart of the HeavyAI platform as it is accelerating
third-party analytic apps. It optimizes the memory and computes layers to deliver unprecedented 
performance. **HeavyDB** was designed to keep hot data in **GPU** memory for the
fastest access possible. Other **GPU** database systems have taken the approach 
of storing the data in **CPU** memory, only moving it to **GPU** at query time, 
trading the gains they receive from **GPU** parallelism with transfer overheads 
over the **PCIe** bus.

**HeavyDB** avoids this transfer inefficiency by caching the most recently
touched data in High Bandwidth Memory on the **GPU**, which offers up to 10x 
the bandwidth of **CPU DRAM** and far lower latency. **HeavyDB** is also
designed to exploit efficient inter-GPU communication infrastructure such as 
**NVIDIA NVLink** when available.

For data manipulation, HeavyAI provides **heavyai**/**pyheavydb** but,
maybe you would like to use a more common and high level tool for your data workflow such as
[Ibis](https://github.com/ibis-project/ibis) or 
[SQLAlchemy](https://github.com/sqlalchemy/sqlalchemy). The great news is that
HeavyAI also provides a backend/dialect for both!

If you want more information about `ibis-heavyai` check its
[repository](https://github.com/heavyai/ibis-heavyai)

This tutorial is about the first steps with **SQLAlchemy HeavyAI**!

## Installation

**sqlalchemy-heavyai** is available on **PyPI** and **conda-forge** and you can
install it using one of the following commands:

```bash
# if you are a conda user (also work with mamba)
$ conda install -y sqlalchemy-heavyai
```

or

```bash
# if you are a pip user
$ pip install sqlalchemy-heavyai
```

`sqlalchemy-heavyai` is a `sqlalchemy` dialect, so you don't need to import
`sqlalchemy-heavyai` directly. Just import `sqlalchemy` and create a connection
using the following structure:

`heavydb://<user>:<pass>@<host>:<port>/<db>?protocol=<protocol>`

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

sqlalchemy.__version__

'2.0.13'

In [2]:
import sqlalchemy_heavyai

In [3]:
engine = create_engine(
    "heavydb://admin:HyperInteractive@localhost:6274/heavyai?protocol=binary"
)

con = engine.connect()

As an example, let's work on the first table we can find in our database.

In [4]:
from sqlalchemy import text
table_name = con.execute(text("SHOW TABLES")).first()[0]
print(table_name)

heavyai_us_states

In [5]:
metadata = sqlalchemy.MetaData()

lidar = sqlalchemy.Table(
    f"{table_name}",
    metadata,
    autoload_with=engine
)

And, inspecting the variable `lidar` it seems it is working!

In [6]:
lidar

Table('heavyai_us_states', MetaData(), Column('id', VARCHAR(length=52), table=<heavyai_us_states>), Column('abbr', VARCHAR(length=52), table=<heavyai_us_states>), Column('name', VARCHAR(length=52), table=<heavyai_us_states>), Column('geom', VARCHAR(length=52), table=<heavyai_us_states>), schema=None)

Now, let's try a simple query using `sqlalchemy` API:

In [7]:
query = sqlalchemy.select(lidar).limit(1)
str(query.compile())

'SELECT heavyai_us_states.id, heavyai_us_states.abbr, heavyai_us_states.name, heavyai_us_states.geom \nFROM heavyai_us_states\n LIMIT :param_1'

In [8]:
results = con.execute(query).fetchall()
results

[('01', 'AL', 'Alabama', 'MULTIPOLYGON (((-87.3592959471789 35.0011799880309,-88.2027449869564 34.9957029591294,-88.098682988481 34.8916409606541,-88.2410839797189 33.79625299 ... (864 characters truncated) ... 19798943,-85.1849509706651 32.8596959695498,-85.43141295455 34.1248689843923,-85.6066749457301 34.9847489851456,-87.3592959471789 35.0011799880309)))')]

We can also use **Pandas** to manipulate this result!

In [9]:
df = pd.DataFrame(results)
df

   id abbr     name                                               geom
0  01   AL  Alabama  MULTIPOLYGON (((-87.3592959471789 35.001179988...

Also, if you are familiar with **SQL** you it directly:

In [10]:
results = con.execute(text(f"SELECT * FROM {table_name} LIMIT 1")).fetchall()
results

[('01', 'AL', 'Alabama', 'MULTIPOLYGON (((-87.3592959471789 35.0011799880309,-88.2027449869564 34.9957029591294,-88.098682988481 34.8916409606541,-88.2410839797189 33.79625299 ... (864 characters truncated) ... 19798943,-85.1849509706651 32.8596959695498,-85.43141295455 34.1248689843923,-85.6066749457301 34.9847489851456,-87.3592959471789 35.0011799880309)))')]

### Filtering

The **sqlalchemy** API is very similar to **SQL** structure. For example,
to execute a SQL `SELECT` you can use `sqalchemy.select` that returns an object
that allows other **SQL** clauses, such as `limit`, `where`, etc.

Let's try to filter our dataset with the first 10 records with `type PushEvent`.

In [11]:
query = (
    sqlalchemy.select(text("*"))
    .where(lidar.columns.abbr == "AL").limit(10)
)

In [12]:
lidar = sqlalchemy.Table(
    f"{table_name}",
    metadata,
    autoload_with=engine
)
lidar

Table('heavyai_us_states', MetaData(), Column('id', VARCHAR(length=52), table=<heavyai_us_states>), Column('abbr', VARCHAR(length=52), table=<heavyai_us_states>), Column('name', VARCHAR(length=52), table=<heavyai_us_states>), Column('geom', VARCHAR(length=52), table=<heavyai_us_states>), schema=None)

And it will be translated to **SQL**:

In [13]:
print(query.compile())

SELECT *
FROM heavyai_us_states
WHERE heavyai_us_states.abbr = :abbr_1
 LIMIT :param_1

As you can see in the output above, it uses some "variables" instead of the real values. If you want see the real **SQL**, use the following command:

In [14]:
print(query.compile(engine, compile_kwargs={"literal_binds": True}))

SELECT *
FROM heavyai_us_states
WHERE heavyai_us_states.abbr = 'AL'
 LIMIT 10

### Using with Pandas

If you managed to read until here, probably you also have already heard about [Pandas](https://pandas.pydata.org/),
the most popular **Data Frame** library for **Python**. As **sqlalchemy-heavyai** is a **sqlalchemy** dialect,
you also can use it directly with **Pandas**:

In [15]:
pd.read_sql(query, engine)

   id abbr     name                                               geom
0  01   AL  Alabama  MULTIPOLYGON (((-87.3592959471789 35.001179988...

Or, if you want to use **SQL** directly:

In [16]:
sql = f"SELECT * FROM {table_name} LIMIT 1"
pd.read_sql(sql, engine)

   id abbr     name                                               geom
0  01   AL  Alabama  MULTIPOLYGON (((-87.3592959471789 35.001179988...

## Conclusions

This document aims to help users to start with **SQLAlchemy HeavyAI** and it doesn't provide an exhausted list of functions or
possibilities. 

For more information about **SQLAlchemy**, check its [official tutorials](https://docs.sqlalchemy.org/en/14/orm/tutorial.html).